.header {
  background-color: var(--transparent);
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: var(--z-index-header);
}

.header a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.headerCurved {
  transition: padding 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s ease;
  background: rgba(var(--grey-11-rgb), 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  padding: 20px;
  border-radius: var(--capsule-rounded);
  box-shadow: var(--low-shadow);
}

.headerMobileMenuOpenCurve {
  border-radius: var(--high-rounded);
  border: 1px solid var(--grey-10);
}

.headerNormal {
  transition: padding 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s ease;
  background-color: var(--transparent);
  padding: 0;
  border-radius: 0;
  border: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  margin-bottom: -10px;
}

.navLinks {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: center;
}

.navLinks li {
  flex-shrink: 0;
}

.navLinks li a {
  color: var(--primaryDark);
}

.mobileNavLinks a {
  color: var(--secondary);
}

.navLinks li a:hover {
  color: var(--secondary);
}

.mobileNavLinks a:hover {
  color: var(--primary);
}

@media (max-width: 1200px) and (min-width: 744px) {
  .header a {
    font-size: 18px;
  }

  .navLinks {
    gap: 16px;
  }

  .logo {
    img {
      width: 120px;
    }
  }
}

@media (max-width: 743px) {
  .header {
    padding: 20px 20px;
  }
  .logo {
    img {
      width: 120px;
    }
  }
  .navbar {
    justify-content: space-around;
  }

  .header a {
    font-size: 16px;
  }

  .navLinks {
    gap: 12px;
  }
}
