.heroImageSection {
  position: relative;
  min-height: var(--half-viewport-height);
  overflow: hidden;
  background: url("/assets/images/about-page-hero.png");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cascading-white-overlay);
  z-index: var(--z-index-hero-video-overlay);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.aboutHeroTitle {
  font-family: var(--font-pinland);
  letter-spacing: 4;
}

.overviewSection {
  min-height: fit-content;
  background: var(--white);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

.storySection {
  min-height: 70vh;
  background: var(--white);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  h3 {
    color: var(--primary);
  }
}

.teamSection {
  min-height: fit-content;
  background: var(--blue-tint-12);
  border-top: 1px solid var(--primary);
  padding-bottom: var(--container-padding);

  h2 {
    color: var(--primary);
    text-align: center;
  }
}

.teamCard {
  min-height: 400px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--high-rounded);
  border-bottom: 5px solid var(--primary);

  h4 {
    color: var(--primary);
  }

  p {
    color: var(--primaryLight);
  }
}

.uspSection {
  min-height: fit-content;
  background: var(--primary);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  h2 {
    color: var(--white);
    text-align: center;
  }

  h4 {
    color: var(--white);
  }
  p {
    color: var(--white);
  }
}

.recognitionSection {
  min-height: fit-content;
  background: var(--primary);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  h2 {
    color: var(--white);
  }
  p {
    color: var(--white);
  }
}

.ctaSection {
  min-height: 50vh;
  background: var(--primaryDark);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  h3 {
    color: var(--primary);
  }
}

/* Media Queries */

@media (max-width: 1200px) and (min-width: 744px) {
  .heroImageSection {
    background-size: cover;
  }
}

@media (max-width: 743px) {
  .heroTitle {
    font-size: 34px;
  }

  .heroImageSection {
    background-size: cover;
    background-position: 75% center;
  }
}
