.allBlogsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

.singleBlogSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}
