.heroImageSection {
  position: relative;
  min-height: var(--half-viewport-height);
  overflow: hidden;
  background: url("/assets/images/contactpage-hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cascading-white-overlay);
  z-index: var(--z-index-hero-video-overlay);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.contactHeroTitle {
  font-family: var(--font-pinland);
  letter-spacing: 4;
}

.detailsSection {
  min-height: 100vh;
  background: var(--white);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  h6 {
    color: var(--primaryDark);
  }
}

.contactPageFormSection {
  min-height: fit-content;
  background: var(--blue-tint-13);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

@media (max-width: 1200px) and (min-width: 744px) {
  .heroImageSection {
    background-size: cover;
  }
}

@media (max-width: 743px) {
  .heroTitle {
    font-size: 34px;
  }

  .heroImageSection {
    background-size: cover;
    background-position: 75% center;
  }
}
