.loginSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);

  h4 {
    color: var(--primary);
  }
}

.dashboardSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
  h4 {
    color: var(--primary);
  }
}

.manageblogsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}

.createblogsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}

.viewBlogsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}

.editBlogsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}

.manageAdminsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}

.manageLeadsSection {
  min-height: 100vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-hero-top-padding);
  padding-bottom: var(--container-padding);
}
