.heroSection {
  min-height: 100vh;
  background: var(--top-to-bottom-gradient-home-hero);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroTitle {
  background-color: var(--white);
  border-radius: var(--capsule-rounded);
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: var(--hero-title-shadow);
  position: relative;
  max-width: fit-content;
}

/* A — top */
.heroTitle:nth-child(1) {
  z-index: var(--z-index-hero-title-a);
}

/* B — middle */
.heroTitle:nth-child(2) {
  z-index: var(--z-index-hero-title-b);
}

/* C — bottom */
.heroTitle:nth-child(3) {
  z-index: var(--z-index-hero-title-c);
}

.heroDescription {
  max-width: 700px;
}

.heroCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 30px;
  border-radius: var(--high-rounded);
  min-height: 100%;
  span {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
  }
}

.heroCardContentStack {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

@media (max-width: 1200px) and (min-width: 744px) {
}

@media (max-width: 743px) {
  .heroTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .heroDescription {
    text-align: center;
  }

  .heroCard {
    padding: 20px;
    span {
      font-size: 16px;
    }
  }
}
