.heroSection {
  min-height: 100vh;
  background: var(--top-to-bottom-gradient-home-hero);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroTitle {
  background-color: var(--white);
  border-radius: var(--capsule-rounded);
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: var(--hero-title-shadow);
  position: relative;
  max-width: fit-content;
}

/* A — top */
.heroTitle:nth-child(1) {
  z-index: var(--z-index-hero-title-a);
}

/* B — middle */
.heroTitle:nth-child(2) {
  z-index: var(--z-index-hero-title-b);
}

/* C — bottom */
.heroTitle:nth-child(3) {
  z-index: var(--z-index-hero-title-c);
}

.heroDescription {
  max-width: 700px;
}

.heroCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 30px;
  border-radius: var(--high-rounded);
  min-height: 100%;
  span {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
  }
}

.heroCardContentStack {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.coreExpertiseSection {
  min-height: 100vh;
  background: var(--white);
  border-radius: 196px 196px 0 0;
  margin-top: -196px;
}

.coreExpertiseCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-tint-13);
  padding: 30px;
  border-radius: var(--high-rounded);
  min-height: 100%;
  span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
  }
  p {
    min-width: 380px;
    max-width: 480px;
  }
}

.coreExpertiseCardContentStack {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.lawFirmNote {
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  color: var(--primary);
}

@media (max-width: 1200px) and (min-width: 744px) {
  .coreExpertiseSection {
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
  }

  .coreExpertiseCard {
    padding: 20px;

    span {
      font-size: 14px;
    }
    p {
      font-size: 14px;
      min-width: 300px;
      max-width: 480px;
    }
  }
}

@media (max-width: 743px) {
  .heroTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .heroDescription {
    text-align: center;
  }

  .heroCard {
    padding: 20px;
    span {
      font-size: 16px;
    }
  }
  .coreExpertiseSection {
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
  }

  .coreExpertiseCard {
    padding: 20px;

    span {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      min-width: 300px;
      max-width: 480px;
    }
  }

  .lawFirmNote {
    max-width: 320px;
    font-size: 14px;
  }
}
