.heroSection {
  min-height: 100vh;
  background: var(--top-to-bottom-gradient-home-hero);
}

.heroContent {
  position: relative;
  z-index: var(--z-index-hero-container);
}

.heroTitle {
  background-color: var(--white);
  border-radius: var(--capsule-rounded);
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: var(--hero-title-shadow);
  position: relative;
  max-width: fit-content;
}

/* A — top */
.heroTitle:nth-child(1) {
  z-index: var(--z-index-hero-title-a);
}

/* B — middle */
.heroTitle:nth-child(2) {
  z-index: var(--z-index-hero-title-b);
}

/* C — bottom */
.heroTitle:nth-child(3) {
  z-index: var(--z-index-hero-title-c);
}

.heroDescription {
  max-width: 700px;
}

.heroCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 30px;
  border-radius: var(--high-rounded);
  min-height: 100%;
  span {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary);
  }
}

.heroCardContentStack {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

/* Expertise Section */

.coreExpertiseSection {
  min-height: 100vh;
  background: var(--white);
  border-radius: 196px 196px 0 0;
  margin-top: -196px;
  padding-bottom: var(--container-padding);
}

.coreExpertiseCard {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-tint-13);
  padding: 30px;
  border-radius: var(--high-rounded);
  min-height: 100%;
  span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
  }
  p {
    min-width: 380px;
    max-width: 480px;
  }
}

.coreExpertiseCardContentStack {
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.lawFirmNote {
  max-width: 500px;
  text-align: center;
  font-size: 16px;
  color: var(--primary);
}

/* Specialisation Section */

.specialisationSection {
  min-height: 100vh;
  background: var(--top-to-bottom-gradient-home-hero);
  border-top: 1px solid var(--primary);
  padding-bottom: var(--container-padding);

  h2 {
    color: var(--primary);
  }

  p:nth-child(1) {
    max-width: 700px;
  }
  p:nth-child(2) {
    text-align: right;
    max-width: 400px;
  }
}

.specialisationCard {
  min-height: 500px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--high-rounded);
}

.specialisationCard:nth-child(1) {
  background-image: url("/assets/images/constitutional-law.png");
  background-size: cover;
  background-position: center;
}
.specialisationCard:nth-child(2) {
  background-image: url("/assets/images/service-law.png");
  background-size: cover;
  background-position: center;
}
.specialisationCard:nth-child(3) {
  background-image: url("/assets/images/regulatory-law.png");
  background-size: cover;
  background-position: center;
}

.specialisationCardTitle {
  color: var(--white);
  display: block;
  font-size: 24px;
  font-weight: 700;
}
.specialisationCardSubTitle {
  color: var(--white);
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.specialisationCardDescription {
  color: var(--white);
  display: block;
  font-size: 16px;
}

/* Services Section */

.servicesSection {
  min-height: 100vh;
  background: var(--blue-tint-12);
  border-top: 1px solid var(--primary);
  padding-bottom: var(--floating-container-compensation-padding);

  h2 {
    color: var(--primary);
    text-align: center;
  }
}

.servicesCard {
  min-height: 400px;
  width: 100%;
  background-color: var(--white);
  border-radius: var(--high-rounded);
}

.servicesCardTitle {
  color: var(--grey-1);
  display: block;
  font-size: 20px;
  font-weight: 500;
}
.servicesCardDescription {
  color: var(--grey-1);
  display: block;
  font-size: 16px;
}

.approachSection {
  min-height: 100vh;
  background: var(--white);
  padding-top: var(--floating-container-compensation-padding);

  h2 {
    color: var(--primary);
  }

  p {
    color: var(--primary);
  }
}

.approachRightCapsule {
  background: var(--blue-tint-13);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
}

.testimonialsSection {
  min-height: 50vh;
  background: var(--blue-tint-13);
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);

  p {
    font-weight: 500;
  }
}

.testimonialsButton {
  background: none;
  border: none;
  cursor: pointer;
  background-color: var(--blue-tint-12);
  color: var(--primary);
  padding: 16px;
  border-radius: var(--high-rounded);

  &:hover {
    background-color: var(--white);
  }
}

@media (max-width: 1200px) and (min-width: 744px) {
  .coreExpertiseSection {
    border-radius: 60px 60px 0 0;
    margin-top: -60px;
  }

  .coreExpertiseCard {
    padding: 20px;

    span {
      font-size: 14px;
    }
    p {
      font-size: 14px;
      min-width: 300px;
      max-width: 480px;
    }
  }

  .specialisationSection {
    p:nth-child(1) {
      max-width: 350px;
      font-size: 14px;
    }
    p:nth-child(2) {
      max-width: 320px;
      font-size: 14px;
    }
  }

  .specialisationCardTitle {
    font-size: 18px;
  }
  .specialisationCardSubTitle {
    font-size: 16px;
  }
  .specialisationCardDescription {
    font-size: 14px;
  }
}

@media (max-width: 743px) {
  .heroTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .heroDescription {
    text-align: center;
  }

  .heroCard {
    padding: 20px;
    span {
      font-size: 16px;
    }
  }
  .coreExpertiseSection {
    border-radius: 30px 30px 0 0;
    margin-top: -30px;
  }

  .coreExpertiseCard {
    padding: 20px;

    span {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      min-width: 300px;
      max-width: 480px;
    }
  }

  .lawFirmNote {
    max-width: 320px;
    font-size: 14px;
  }

  .specialisationSection {
    p:nth-child(2) {
      text-align: left;
    }
  }

  .specialisationCard {
    min-height: 400px;
  }

  .specialisationCardTitle {
    font-size: 18px;
  }
  .specialisationCardSubTitle {
    font-size: 16px;
  }
  .specialisationCardDescription {
    font-size: 14px;
  }

  .testimonialsSection {
    p {
      font-size: 14px;
    }
  }
}
