:root {
  --header-offset-height: 145px;

  --desktop-max-width: 1440px;
  --tablet-max-width: 744px;
  --mobile-max-width: 430px;

  --tablet-padding: 30px;
  --mobile-padding: 20px;

  --container-padding: 96px;
  --container-hero-top-padding: 192px;
  --floating-container-compensation-padding: 240px;

  --debug-border: 1px dashed red;

  --transparent: transparent;
  --black: #000;
  --white: #fff;
  --bg: #eeeeee;
  --primary: #1f4a84;
  --primaryLight: #4b6e9c;
  --primaryDark: #15335c;
  --secondary: #00bf63;
  --secondaryLight: #33cb82;
  --secondaryDark: #008545;

  --top-to-bottom-gradient-home-hero: linear-gradient(
    to bottom,
    #ffffff,
    #e4edf9
  );

  --blog-linear-gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  --grey-1: #111111;
  --grey-10: #7b7b7b;
  --grey-11-rgb: 180, 180, 180;

  --blue-tint-12: #e4edf9;
  --blue-tint-13: #f4f8fc;

  --white-overlay: rgba(255, 255, 255, 0.6);
  --black-overlay: rgba(0, 0, 0, 0.6);
  --cascading-white-overlay: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(0, 0, 0, 0.4)
  );

  --low-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  --hero-title-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);

  --capsule-rounded: 999px;
  --high-rounded: 20px;
  --high-rounded-mui-btn: 32px;

  --child-rounded-content-box: 24px;
  --parent-rounded-content-box: 32px;

  --z-index-hero-video: 0;
  --z-index-hero-image: 0;
  --z-index-hero-video-overlay: 1;
  --z-index-hero-container: 2;
  --z-index-blog-preview-image: 21;
  --z-index-hero-title-a: 33;
  --z-index-hero-title-b: 32;
  --z-index-hero-title-c: 31;
  --z-index-floating-testimonials-card-a: 36;
  --z-index-floating-testimonials-card-b: 35;
  --z-index-floating-testimonials-card-c: 34;

  --z-index-floating-section: 41;
  --z-index-header: 50;
  --z-index-header-mobile-menu: 200;

  --full-viewport-height: 100vh;
  --half-viewport-height: 60vh;
  --full-viewport-height-with-header: calc(
    var(--full-viewport-height) - var(--header-offset-height)
  );
}

h1 {
  font-size: 64px;
  color: var(--grey-1);
}

h2 {
  font-size: 48px;
  color: var(--grey-1);
}

h3 {
  font-size: 32px;
  color: var(--grey-1);
}

h4 {
  font-size: 24px;
  color: var(--grey-1);
}

h5 {
  font-size: 24px;
  font-weight: 700px;
  color: var(--grey-1);
}

h6 {
  font-size: 20px;
  font-weight: 500;
  color: var(--grey-1);
}

p {
  font-size: 18px;
  color: var(--grey-1);
}

.debugBorder {
  border: var(--debug-border);
}

.gradientBG {
  background: linear-gradient(to bottom, #ffffff, #e4edf9);
}

.gradientText {
  background: linear-gradient(to bottom, #666666, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 1200px) and (min-width: 744px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
}

@media (max-width: 743px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 28px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
}
