:root {
  --header-offset-height: 145px;

  --desktop-max-width: 1440px;
  --tablet-max-width: 744px;
  --mobile-max-width: 430px;

  --tablet-padding: 30px;
  --mobile-padding: 20px;

  --container-padding: 96px;

  --debug-border: 1px dashed red;

  --transparent: transparent;
  --black: #000;
  --white: #fff;
  --bg: #eeeeee;
  --primary: #070c59;
  --primaryLight: #383c7a;
  --primary-dark: #04083e;
  --secondary: #2129ff;
  --secondaryLight: #4d53ff;
  --secondaryDark: #171cb2;

  --grey-10: #7b7b7b;

  --white-overlay: rgba(255, 255, 255, 0.8);

  --low-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);

  --capsule-rounded: 999px;
  --high-rounded: 16px;
  --high-rounded-mui-btn: 32px;

  --child-rounded-content-box: 24px;
  --parent-rounded-content-box: 32px;

  --z-index-hero-video: 0;
  --z-index-hero-video-overlay: 1;
  --z-index-hero-container: 2;
  --z-index-blog-preview-image: 21;
  --z-index-header: 50;
  --z-index-header-mobile-menu: 200;

  --full-viewport-height: 100vh;
  --full-viewport-height-with-header: calc(
    var(--full-viewport-height) - var(--header-offset-height)
  );
}

.debugBorder {
  border: var(--debug-border);
}

.gradientBG {
  background: linear-gradient(to bottom, #ffffff, #e4edf9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
}

body {
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
