.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 300px;
  height: 280px;
  perspective: 1000px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--high-rounded);
  color: white;
  transition: transform 0.4s ease;
  overflow: hidden;
  box-shadow: var(--low-shadow);
}

/* Top card */
.position-0 {
  transform: translateY(0);
  z-index: var(--z-index-floating-testimonials-card-a);
}

/* Middle card */
.position-1 {
  transform: translateX(-20%) translateY(-20) rotate(-20deg);
  z-index: var(--z-index-floating-testimonials-card-b);
}

/* Back card */
.position-2 {
  transform: translateX(20%) translateY(-20) rotate(20deg);
  z-index: var(--z-index-floating-testimonials-card-c);
}

@media (max-width: 1200px) and (min-width: 744px) {
  .card-stack {
    width: 200px;
    height: 190px;
  }
}

@media (max-width: 743px) {
  .card-stack {
    width: 220px;
    height: 210px;
  }
}
